@import "tailwindcss";

@theme {
    --default-font-family: "Manrope", sans-serif;
    --font-kapakana: "Kapakana", sans-serif;
    --color-primary: #b19c97;
    --color-secondary: #ece9e4;
    --color-tertiary: #45484d;

    --animate-slide-right: slideInRight 1s both;

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            visibility: visible;
        }

        100% {
            transform: translateX(0);
        }
    }
}

@layer utilities {
    .academic-background::before {
        content: "";
        position: absolute;
        left: -8px;
        top: 48%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background-color: var(--color-primary);
        border-radius: 50%;
    }
}