:root {
  --swiper-navigation-color: var(--color-secondary);
}

.swiper {
  width: 100%;
  max-width: var(--container-lg);
}

.swiper-slide {
  text-align: center;
  background: var(--color-primary);
  padding: calc(var(--spacing) * 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}